<ion-header>
  <ion-toolbar>
    <ion-title>Оставить отзыв</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitFeedback()">
    <ion-item>
      <ion-label position="floating">Ваш отзыв</ion-label>
      <ion-textarea [(ngModel)]="feedbackText" name="feedbackText" required></ion-textarea>
    </ion-item>

    <h3 class="ion-padding-top">Оцените заказ:</h3>
    <div class="stars">
      <ion-icon
        *ngFor="let star of stars; let i = index"
        [name]="i < rating ? 'star' : 'star-outline'"
        (click)="setRating(i + 1)"
        class="star"
      ></ion-icon>
    </div>

    <ion-item lines="none" class="ion-margin-top">
      <ion-button expand="block" (click)="takePhoto()">Прикрепить фото</ion-button>
    </ion-item>

    <div *ngIf="photo">
      <ion-img [src]="photo"></ion-img>
    </div>

    <ion-button type="submit" expand="block" class="ion-margin-top" [disabled]="!feedbackText || rating === 0">
      Отправить
    </ion-button>
  </form>
</ion-content>
